name: Test

on:
  # push:
  #   branches:
  #     - "main"
  pull_request:
  # issue_comment:
  # pull_request_review_comment:


jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: ChatGPT Reviewer
      uses: ./
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
